
  .map-container {
    position: center;
    margin: 30px;
  }
  .map-frame {
    //border: 2px solid rgb(45, 145, 240);
    border-radius: 50%;
    height: 400px;
    width: 400px;
  }
  #map {
    height: 100%;
    width: 100%;
  }
  #mapid { height: 180px; }


