<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button tab="tracks">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Tracks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vehicules">
      <ion-icon name="car"></ion-icon>
      <ion-label>Vehicules</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logout" (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>